<p> There are no Courses Yet</p>
<details>
  <summary>Add a Course?</summary>
  <form action="/<%= @current_day.day_of_week %>/<%= @current_meal.type%>/add_course" method="post">
    <legend></legend>
    <label for="add_course">Decribe your dish</label>
    <input type="text" spellcheck="true" id="add_course" name="add_course" title="for example, butternut squash soup" required minlength="4" maxlength="150">
    <button type="submit">Add Course</button>
  </form>
</details>