<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meal Planning</title>
</head>
<body>
  <header>
    <nav>
      <ol>
        <% @week.each do |day| %>
        <li><a href="/<%= day.day_of_week%>"><%= day.day_of_week%></a></li>
        <% end %>
      </ol>
    </nav>
  </header>
  <main>
    <%== yield %>
  </main>
</body>
</html>